@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    text-shadow: 1px 1px 10px rgb(195, 115, 115);
    /* shorthand pra font: style, weight, size, family */
}
body {
    background-image: linear-gradient(to right, rgb(55, 5, 5), rgb(0, 0, 0));
}
main {
    background-color: rgb(255, 255, 255);
    width: 610px;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  rgba(195, 115, 115, 0.35);
}   
a {
    color: blue;
}
.main {
    color: rgb(0, 0, 0);
    background-color: rgb(200, 150, 150);
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    width: 180px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
}
.steps {
    text-align: center;
    text-shadow: 1px 1px 10px rgb(195, 115, 115);
}